<div class="contactWrapper">
    <div class="contactItem">
        <div class="contactInfo">
            <h1>jake herman</h1>
            <ul>
                <li style="background-color: red; padding: 1em;">onyuwninquiries@gmail.com</li>
                <li><a href="https://github.com/onyuwn">github</a></li>
                <li><a href="https://instagram.com/onyuwn">instagram (dead)</a></li>
                <li><a href="https://instagram.com/aboritz_balls_weed">instagram 2 (inactive)</a></li>
                <li><a href="https://www.youtube.com/channel/UCXF1Rbu_Bxn5-ztm_CM8I2g">youtube channel</a></li>
            </ul>
        </div>
        <img style="width:50%;height:50%" src="https://artitems.blob.core.windows.net/$web/zzzz1111.png"/>
    </div>
</div>