<div class="contactWrapper">
    <div class="contactItem">
        <div class="contactInfo">
            <h1>jake herman</h1>
            <ul>
                <li style="background-color: red; padding: 1em;">make</li>
                <li><a href="https://github.com/onyuwn">it</a></li>
                <li><a href="https://instagram.com/onyuwn">stop</a></li>
                <li><a href="https://instagram.com/scrum_master_gun_owner">.</a></li>
                <li><a href="https://www.youtube.com/channel/UCXF1Rbu_Bxn5-ztm_CM8I2g">tomorrow</a></li>
            </ul>
        </div>
        <img style="width:50%;height:50%" src="https://artitems.blob.core.windows.net/$web/zzzz1111.png"/>
    </div>
</div>