canvas {
    width: 25rem;
    height: 25rem;
    border:2px solid rgb(0, 42, 255);
}

#editor {
    width:25rem;
    height:25rem;
    margin-left: 1em;
    white-space: nowrap;
    overflow: auto;
    border:2px solid rgb(0, 42, 255);
    border-style: inset;
} 

#editorContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 800px) {
    #editorContainer {
        flex-direction: column;
    }

    #editor {
        display: none;
    }
}

@media (max-width: 600px) {
    #editorContainer {
        flex-direction: column;
    }

    #editor {
        display: none;
    }

    canvas {
        height: 15rem;
        width: 15rem;
    }
}