.sidebar {
    display: flex;
    flex-direction: column;
    padding: 1em;
    background-color: white;
    box-shadow: 4px 1px 10px rgb(171, 171, 171);
    position: sticky;
    background-color: yellow;
    width: 10em;
    align-items: center;
}

.sidebar h1 {
    margin: 0;
}

h1 a {
    text-decoration: none;
    color: black;
    font-size: 48px;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
    width: 100%;
}

.nav a {
    font-size: 28px;
    margin:.5em;
    width: 100%;
    text-align: center;
}

.nav a:hover {
    border-bottom: 1px solid rgb(255, 0, 0);
}

.wrapper {
    display: flex;
    height: 100vh;
}

.content {
    flex-grow: 1;
}