<div class="wrapper">
    <div class="sidebar">
        <h1 class="headerText"><a routerLink="/">onyuwn</a></h1>
        <!-- <p class="headerText"><span class="mute">jake herman - full stack developer - technical artist</span></p> -->
        <div class="nav">
            <a routerLink="/blog">blog</a>
            <a routerLink="/gallery">gallery</a>
            <a>contact</a>
        </div>
        <candle class="footer"></candle>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>