#content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top:10em;
}

@media (max-width: 600px) {
    #content {
        margin-top:1em;
    }
}