.contentWrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 90%;
}

.ticker {
    margin-top: 1em;
    margin-bottom: 1em;
    width:100%;
    background-color: white;
    overflow: hidden;
    overflow-x: hidden;
}

@keyframes tickerslide {
    0% {
        transform: translate(-100%,0);
        opacity: 0;
    }

    15%  {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    100% {
        transform: translate(100%,0);
        opacity: 0;
    }
}

@keyframes upDown {
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(15%);
    }
    25% {
        transform: translateY(20%);
    }

    75% {
        transform: translateY(-15%);
    }
    90% {
        transform: translateY(-20%);
    }
    100% {
        transform: translateY(0);
    }
}

.ticker h3 {
    font-family: monospace;
    animation: tickerslide 10s linear infinite;
    width: 100%;
}

.go {
    display: flex;
    align-items: center;
    margin-top:5em;
}

.go:hover > #g {
    animation: upDown .5s linear infinite;
}

.go:hover > #o1 {
    animation: upDown .5s linear .1s infinite;
}

.go:hover > #o2 {
    animation: upDown .5s linear .2s infinite;
}

.go:hover > #o3 {
    animation: upDown .5s linear .3s infinite;
}

.go:hover > #o4 {
    animation: upDown .5s linear .4s infinite;
}

.go:hover > #o5 {
    animation: upDown .5s linear .5s infinite;
}


.go #g {
    height: 125px;
    width: 100px;
    animation: upDown 1s linear infinite;
}
.go .o {
    height: 75px;
    width: 75px;
}

#o1 {
    animation: upDown 1s linear .1s infinite;
}

#o2 {
    animation: upDown 1s linear .2s infinite;
}

#o3 {
    animation: upDown 1s linear .3s infinite;
}
#o4 {
    animation: upDown 1s linear .4s infinite;
}
#o5 {
    animation: upDown 1s linear .5s infinite;
}

.workTable {
    padding-left:2em;
    margin-top:10em;
    width: calc(100% - 3em);
    border: 2px solid red;
    background-color: rgba(255, 255, 255, 0.849);
}

.workTable .workItem {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    padding: 1em;
    border-bottom: 1px solid whitesmoke;
}

.workItem p {
    margin: 0;
}

.workItem a {
    text-decoration: underline;
    color: red;
    font-weight: 900;
    font-size: 2em;
}

@media (max-width: 800px) {
    #content {
        margin-top:1em;
    }

    #o4, #o5 {
        display: none;
    }

    .go {
        margin-top:1em;
    }

    .workTable {
        margin-top: 2em;
    }

    .ticker h3 {
        font-size: 10px;
    }
}