<div class="contentWrapper">
    <mandlebrot style="margin-top:1em"></mandlebrot>
    <div class="ticker">
        <h3>GRAPHICS PROGRAMMER - TECHNICAL ARTIST - FULL STACK DEVELOPER - JAKE HERMAN</h3>
    </div>
    <div class="go" (click)="goToBlog()">
        <img id="g" src="assets/g.png"/>
        <img class="o" id="o1" src="assets/O.png"/>
        <img class="o" id="o2" src="assets/O.png"/>
        <img class="o" id="o3" src="assets/O.png"/>
        <img class="o" id="o4" src="assets/O.png"/>
        <img class="o" id="o5" src="assets/O.png"/>
    </div>
    <div class="workTable">
        <div class="workItem">
            <p><strong>Andy Morin & Payday - "Dolphin Remix"</strong></p>
            <p>animation, edit, direction</p>
            <a style="text-align:center" href="https://www.youtube.com/watch?v=goBSafAZQ0I">go</a>
        </div>
        <div class="workItem">
            <p><strong>Evanora Unlimited - "Limestone"</strong></p>
            <p>edit</p>
            <a style="text-align:center" href="https://youtu.be/vVKJscNdy-M">go</a>
        </div>
        <div class="workItem">
            <p><strong>Hangman's Park - "Rage"</strong></p>
            <p>3D animation, edit, direction</p>
            <a style="text-align:center" href="https://www.youtube.com/watch?v=sdBi5Alyz9Q">go</a>
        </div>
        <div class="workItem">
            <p><strong>Super Death - "How It Feels"</strong></p>
            <p>3D animation</p>
            <a style="text-align:center" href="https://youtu.be/RQUmmEHHgds">go</a>
        </div>
        <div class="workItem">
            <p><strong>Andy Morin / A2B2 Night of Fire 2 Visuals</strong></p>
            <p>3D animation</p>
            <a style="text-align:center" href="https://youtu.be/Lf0mzeJ_12E">go</a>
        </div>
    </div>
</div>