<ng-container *ngIf="debug===true">
    <div style="display: flex;justify-content: center;">
        <div id="post" style="display: flex; justify-content:center; flex-direction: column;">
            <canvas id="shaderPreview" class="shaderPreviewXl" #canvas></canvas>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="debug===false">
    <div class="postFeed">
        <div class="post">
            <div class="postHeader">
                <p class="title">Shattering.. piggies </p>
                <p class="date">1/20/2022</p>
            </div>
            <div class="postBody">
                <div class="textSection">
                    <p>
                        making objects shatter in unity is very simple and satisfying. simply take your base model and create separations along edges in blender.
                    </p>
                </div>
                <div class="videoWrapper">
                    <video controls>
                        <source src="https://artitems.blob.core.windows.net/$web/piggieshatter2.webm"/>
                    </video>
                </div>
                <div class="textSection">
                    <p>
                        when the pig enemy is shot, the base entity model is destroyed and in its place I instantiate the separated model. the separated model is a rigid body. add some force to the rigid body on instantiation for better effects.
                    </p>
                </div>
            </div>
        </div>
        <div class="post">
            <div class="postHeader">
                <p class="title">Point and Ripple</p>
                <p class="date">12/5/2022</p>
            </div>
            <div class="postBody">
                <div class="textSection">
                    <p>Trying to create a ground warping effect in my game. To be used when a boss stomps or hops around the level. Thinking about implementing This
                    with a vertex shader on the floor material... some sort of point and ripple effect. Probably the most common example of this is with water ripple
                    shaders, but I'm trying to create something tighter and more abrasive.
                    </p>
                </div>
                <div class="gifWrapper">
                    <img src="https://artitems.blob.core.windows.net/$web/$R5RKMIZ.gif"/>
                </div>
                <div class="textSection">
                    I have this ripple effect running in a vertex shader. The big G Boss casts a ray into the ground, on hit the coords put into the vertex shader via uniforms.
                    
                </div>
            </div>
        </div>
        <div class="post">
            <div class="postHeader">
                <p class="title">Bubbles Screensaver</p>
                <p class="date">10/5/2022</p>
            </div>
            <div class="postBody">
                <div class="textSection">
                    <p>Experiments in creating a function for a bubble screensaver. I think I spent the whole month trying to
                    figure out the best process for illustrating bubbles before I even touched a bubble screensaver.
                    </p>
                </div>
                <div class="imageRow imageWrapper" style="margin-bottom:1em">
                    <img src="assets/bubblespost/purpbubb.png"/>
                    <img src="assets/bubblespost/bubbleirrri.png"/>
                    <img src="assets/bubblespost/whitbubb.png"/>
                </div>
                <div class="gifWrapper">
                    <img src="https://artitems.blob.core.windows.net/$web/bubblesbounce.gif"/>
                </div>
            </div>
        </div>
        <div class="post">
            <div class="postHeader">
                <p class="title">Little Guys</p>
                <p class="date">2/17/2022</p>
            </div>
            <div class="postBody">
                <div class="textSection">
                    <p>
                    </p>
                    <div class="videoWrapper">
                        <video controls>
                            <source src="https://artitems.blob.core.windows.net/$web/$R3ZV83W.webm"/>
                        </video>
                    </div>
                    <p>
                    </p>
                    <div class="videoWrapper">
                        <video controls>
                            <source src="https://artitems.blob.core.windows.net/$web/waterworl.webm"/>
                        </video>
                    </div>
                    <div class="imageRow imageWrapper">
                        <img src="https://artitems.blob.core.windows.net/$web/block191.png"/>
                        <img src="https://artitems.blob.core.windows.net/$web/block1922.png"/>
                        <img src="https://artitems.blob.core.windows.net/$web/blob2.png"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>



<!-- <div class="shaderSection">
    <div class="shaderView" (click)="toggleAvailableShader()">
        <div class="shaderPlaceholder" [ngClass]="{'showing': shaderAvailable === false, 'hidden': shaderAvailable === true}"></div>
        <canvas class="shaderPreview" #canvas></canvas>
    </div>
    <div class="shaderSupplement">
        <p>This is a ripple in its most basic form.</p>
    </div>
</div> -->