body {
    background: linear-gradient(90deg, white 25%, rgb(0, 47, 255) 90%);
    margin: 0 !important;
    width: 100vw;
    height: 100vh;
}

a {
    text-decoration: none;
    color:blue;
}

.footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 25em;
}

@supports (-webkit-touch-callout: none) {
    /* CSS specific to iOS devices */
    .body {
      height: -webkit-fill-available;
    }
  }